In [1]:
import pandas as pd

# Creating a DataFrame
data = {
    'Department': ['IT', 'IT', 'HR', 'HR', 'Finance', 'Finance', 'IT', 'HR'],
    'Employee': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
    'Salary': [60000, 70000, 50000, 65000, 80000, 85000, 75000, 62000],
    'Experience': [2, 4, 3, 5, 7, 10, 6, 2]
}

df = pd.DataFrame(data)
df

  Department Employee  Salary  Experience
0         IT        A   60000           2
1         IT        B   70000           4
2         HR        C   50000           3
3         HR        D   65000           5
4    Finance        E   80000           7
5    Finance        F   85000          10
6         IT        G   75000           6
7         HR        H   62000           2

In [4]:
#sum of values
print(df['Salary'].sum())

547000

In [5]:
#mean (average) of values
print(df['Salary'].mean())

68375.0

In [6]:
#count of non-null values
print(df['Salary'].count())

8

In [7]:
#minimum value
print(df['Salary'].min())

50000

In [8]:
#maziimum value
print(df['Salary'].max())

85000

In [9]:
#median of values
print(df['Salary'].median())

67500.0

In [10]:
#standard deviation of values
print(df['Salary'].std())

11450.982490598786

In [11]:
#variance of values
print(df['Salary'].var())

131125000.0

In [12]:
#summary statistics
print(df['Salary'].describe())

count        8.000000
mean     68375.000000
std      11450.982491
min      50000.000000
25%      61500.000000
50%      67500.000000
75%      76250.000000
max      85000.000000
Name: Salary, dtype: float64

In [14]:
# Group by Department and get the sum of salaries for each department
df_grouped_salary = df.groupby('Department')['Salary'].sum()
print(df_grouped_salary)

Department
Finance    165000
HR         177000
IT         205000
Name: Salary, dtype: int64

In [15]:
# Group by Department and apply multiple aggregation functions
df_grouped_multi = df.groupby('Department').agg({
    'Salary': ['sum', 'mean', 'max'],
    'Experience': ['min', 'max', 'count']
})
print(df_grouped_multi)

            Salary                      Experience
               sum          mean    max        min max count
Department
Finance     165000  82500.000000  85000          7  10     2
HR          177000  59000.000000  65000          2   5     3
IT          205000  68333.333333  75000          2   6     3

In [16]:
df_grouped_reset = df_grouped_salary.reset_index()
print(df_grouped_reset)

  Department  Salary
0    Finance  165000
1         HR  177000
2         IT  205000

In [17]:
df_grouped_multi = df.groupby(['Department', 'Experience']).agg({'Salary': 'sum'})
print(df_grouped_multi)

                       Salary
Department Experience
Finance    7            80000
           10           85000
HR         2            62000
           3            50000
           5            65000
IT         2            60000
           4            70000
           6            75000

In [18]:
# Custom function: Range of salary (max - min)
def salary_range(x):
    return x.max() - x.min()

df_custom = df.groupby('Department')['Salary'].apply(salary_range)
print(df_custom)

Department
Finance     5000
HR         15000
IT         15000
Name: Salary, dtype: int64

In [19]:
# Adding a column for average salary within each department
df['Avg_Salary_By_Dept'] = df.groupby('Department')['Salary'].transform('mean')
print(df)

  Department Employee  Salary  Experience  Avg_Salary_By_Dept
0         IT        A   60000           2        68333.333333
1         IT        B   70000           4        68333.333333
2         HR        C   50000           3        59000.000000
3         HR        D   65000           5        59000.000000
4    Finance        E   80000           7        82500.000000
5    Finance        F   85000          10        82500.000000
6         IT        G   75000           6        68333.333333
7         HR        H   62000           2        59000.000000

In [21]:
df_pivot = df.pivot_table(index='Department', values='Salary', aggfunc=['sum', 'mean'])
print(df_pivot)

               sum          mean
            Salary        Salary
Department
Finance     165000  82500.000000
HR          177000  59000.000000
IT          205000  68333.333333