In [3]:
#vertical concatention (row-wise)
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})

result = pd.concat([df1, df2], axis=0, ignore_index=True)
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [7]:
#horizontal concatention (column-wise)

df3 = pd.DataFrame({'C': ['C0', 'C1']})
df4 = pd.DataFrame({'D': ['D0', 'D1']})

result = pd.concat([df1, df3, df4], axis=1, ignore_index=True)
print(result)

    0   1   2   3
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [8]:
#inner join
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [23, 24, 25]})

result = pd.merge(df1, df2, on='ID', how='inner')
print(result)

   ID     Name  Age
0   2      Bob   23
1   3  Charlie   24

In [9]:
#outer join
result = pd.merge(df1, df2, on='ID', how='outer') 
print(result)

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  23.0
2   3  Charlie  24.0
3   4      NaN  25.0

In [10]:
#left join
result = pd.merge(df1, df2, on='ID', how='left')
print(result)

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  23.0
2   3  Charlie  24.0

In [11]:
#right join
result = pd.merge(df1, df2, on='ID', how='right')
print(result)

   ID     Name  Age
0   2      Bob   23
1   3  Charlie   24
2   4      NaN   25

In [12]:
#index-based join
df1 = pd.DataFrame({'Name': ['Alice', 'Bob']}, index=[1, 2])
df2 = pd.DataFrame({'Age': [23, 24]}, index=[2, 3])

result = df1.join(df2, how='outer')
print(result)

    Name   Age
1  Alice   NaN
2    Bob  23.0
3    NaN  24.0

In [16]:
#handling duplicates after combining dataframes
df1.drop_duplicates(inplace=True)
print(df1)

    A   B
0  A0  B0
1  A1  B1

In [18]:
#resetting index
df1.reset_index(drop=True, inplace=True)
print(df1)

    A   B
0  A0  B0
1  A1  B1

In [19]:
#filling missing values
df1.fillna(0, inplace=True)
print(df1)

    A   B
0  A0  B0
1  A1  B1

In [22]:
df1.dropna(inplace=True)
print(df1)

    A   B
0  A0  B0
1  A1  B1