In [1]:
import pandas as pd

In [10]:
# Sample data
data = {'A': [1, 2, None, 4],
        'B': [None, 2, 3, 4],
        'C': [1, None, None, 4]}

df = pd.DataFrame(data)
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN
3  4.0  4.0  4.0

In [4]:
# Check for missing values
print(df.isna())   # OR 
print(df.isnull())

       A      B      C
0  False   True  False
1  False  False   True
2   True  False   True
3  False  False  False
       A      B      C
0  False   True  False
1  False  False   True
2   True  False   True
3  False  False  False

In [6]:
#count missing values
print(df.isna().sum())

A    1
B    1
C    2
dtype: int64

In [7]:
#checking for missing valeus in any column
print(df.isna().any())

A    True
B    True
C    True
dtype: bool

In [8]:
#checking for missing values in any row
print(df.isna().any(axis=1))

0     True
1     True
2     True
3    False
dtype: bool

In [9]:
#dropping rows with missing values
df_cleaned = df.dropna()
print(df_cleaned)

     A    B    C
3  4.0  4.0  4.0

In [15]:
#keep only rows without missing values in sepcific columns
df.dropna(subset=['A', 'B'], inplace=True)
print(df)

     A    B    C
1  2.0  2.0  NaN
3  4.0  4.0  4.0

In [14]:
df_filled = df.fillna(0)
df_filled

     A    B    C
1  2.0  2.0  0.0
3  4.0  4.0  4.0

In [17]:
#filling with mean, median or mode
df['A'].fillna(df['A'].mean(), inplace=True) #filling with mean
df['B'].fillna(df['B'].median(), inplace=True) #filling with median
df['C'].fillna(df['C'].mode()[0], inplace=True) #filling with mode
df

C:\Users\Administrator.BW_NEHAL\AppData\Local\Temp\ipykernel_13976\1656173138.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['A'].fillna(df['A'].mean(), inplace=True) #filling with mean
C:\Users\Administrator.BW_NEHAL\AppData\Local\Temp\ipykernel_13976\1656173138.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['B'].fillna(df['B'].median(), inplace=True) #filling with median
C:\Users\Administrator.BW_NEHAL\AppData\Local\Temp\ipykernel_13976\1656173138.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['C'].fillna(df['C'].mode()[0], inplace=True) #filling with mode

     A    B    C
1  2.0  2.0  4.0
3  4.0  4.0  4.0

In [20]:
#forward fill
df.fillna(method='ffill', inplace=True)
df

C:\Users\Administrator.BW_NEHAL\AppData\Local\Temp\ipykernel_13976\1547053225.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

     A    B    C
1  2.0  2.0  4.0
3  4.0  4.0  4.0

In [21]:
df.fillna(method='bfill', inplace=True)
df

C:\Users\Administrator.BW_NEHAL\AppData\Local\Temp\ipykernel_13976\3129340724.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

     A    B    C
1  2.0  2.0  4.0
3  4.0  4.0  4.0

In [23]:
#interpolation for fillign missing values
df.interpolate(method='linear', inplace=True)
df

     A    B    C
1  2.0  2.0  4.0
3  4.0  4.0  4.0

In [25]:
#replacing specific values
df.replace(to_replace=None, value=0, inplace=True)

TypeError: 'regex' must be a string or a compiled regular expression or a list or dict of strings or regular expressions, you passed a 'bool'

In [26]:
#detecting missing and handling missing values in large datasets
missing_percent = df.isna().sum() / df.shape[0] * 100
missing_percent

A    0.0
B    0.0
C    0.0
dtype: float64

In [27]:
#handling missing values in categurical data
df['category'].fillna(df['category'].mode()[0], inplace=True)
df

KeyError: 'category'